{% extends "./app.twig" %}

{% block page %}
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <b>Change Password</b>
            </div>
            <div class="panel-body">
                <form action="{{ path_for("user.password") }}" method="post" class="form-horizontal">
                    <div class="form-group{{ errors.password_old ? ' has error' : '' }}">
                        <label for="password_old"  class="col-sm-2 control-label">Current Password: </label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password_old" name="password_old" value="" data-validate="required">
                            {% if errors.password_old %}
                                <span class="help-block">{{ errors.password_old | first }}</span>
                            {%  endif %}
                        </div>
                    </div>
                    <div class="form-group {{ errors.password_new ? ' has error' : '' }}">
                        <label for="password_new"  class="col-sm-2 control-label">New Password: </label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control" id="password_new" name="password_new" data-validate="required">
                            {% if errors.password_new %}
                                <span class="help-block">{{ errors.password_new | first }}</span>
                            {%  endif %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><strong>Change Password</strong></button>
                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}